<ul>
  <ng-container *ngIf="repos; else loading;">
    <!-- repos List Start -->
    <ng-container *ngFor="let repo of repos  | paginate: {
      itemsPerPage: itemsPerPage,
      currentPage: reposPagination.current_page,
       totalItems: reposPagination.total
       }">

    <li>
     <div class="card">
      <div class="flex">
        <img class="card-img-top"  [src]="repo.owner.avatar_url" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{repo.full_name}}</h5>
          <p class="card-text">{{repo.description}}.</p>
          <div class="flex">
            <div class="flex repo-details">
              <span class="badge badge-primary">Stars : {{repo.stargazers_count}}</span>
              <span class="badge badge-warning">Issues : {{repo.open_issues_count}}</span>
            </div>
            <p>{{repo.interval}}</p>
          </div>
         
        </div>
      </div>
    </div>
    </li>

    </ng-container>
    <!-- repos List End -->
    <ng-container *ngIf="!repos.length">
      <app-not-found message={{notFoundMessage}}></app-not-found>
    </ng-container>
    <!-- Pagination Begin -->
    <app-pagination *ngIf="repos.length" (pageChange)="onPageChange($event)"></app-pagination>
    <!-- Pagination End -->
  </ng-container>
</ul>

<ng-template #loading>
  <app-loader></app-loader>
</ng-template>
