<ul>
  <ng-container *ngIf="repos; else loading;">
    <!-- repos List Start -->
    <ng-container *ngFor="let repo of repos  | paginate: {
      itemsPerPage: itemsPerPage,
      currentPage: reposPagination.current_page,
       totalItems: reposPagination.total
       }">

    <li>
     {{repo.full_name}}
     
    </li>

    </ng-container>
    <!-- repos List End -->
    <ng-container *ngIf="!repos.length">
      <!-- <app-not-found message={{notFoundMessage}}></app-not-found> -->
    </ng-container>
    <!-- Pagination Begin -->
    <app-pagination *ngIf="repos.length" (pageChange)="onPageChange($event)"></app-pagination>
    <!-- Pagination End -->
  </ng-container>
</ul>

<ng-template #loading>
  <!-- <app-loader></app-loader> -->
</ng-template>
